*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-image: url(https://i.redd.it/4k-wallpaper-steampunk-train-station-v0-77dlz0e5msda1.png?width=3840&format=png&auto=webp&s=d3a1bcca6ee134966924ad05952d322b2308ab28);
    background-repeat: no-repeat;
    background-size: cover;
  }

